[submodule "mining-wave"]
	path = mining-wave
	url = https://github.com/marctheshark3/mining-wave.git
[submodule "ergo-miningcore"]
	path = ergo-miningcore
	url = https://github.com/marctheshark3/ergo-miningcore.git
[submodule "Nurse-Shark-Bot"]
	path = Nurse-Shark-Bot
	url = https://github.com/The-Last-Byte-Bar/Nurse-Shark-Bot.git
